# Virtual environment
.venv/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Large data files
*.npy
*.cif
7b3a_A/
pca_projections/
feature_magnitudes/

# Generated outputs
feature_magnitudes_layer10_matrix.npy

